*.json filter=lfs diff=lfs merge=lfs -text
SXC_IGC/Domain-Calibrated_Instability_Framework(DCIF)/dcif_modules/social_module/*.gz filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
